<style>
  .login {
    background: transparent;
    border: none;
    color: rgba(223, 223, 223, 0.733);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    position: right;
    top: -10px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  .register {
    background: transparent;
    border: none;
    color: rgba(223, 223, 223, 0.733);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    position: right;
    top: -10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .input {
    left: 100px;
  }
  .login:hover {
    color: rgba(255, 255, 255, 0.89);
  }
  .logout {
    border: 2px solid rgb(74, 73, 73);
    background-color: transparent;
    color: rgb(72, 72, 72);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  .register:hover {
    color: rgba(255, 255, 255, 0.89);
  }
  .Email {
    margin-right: 20px;
  }
  .logout:hover {
    color: rgba(255, 255, 255, 0.89);
  }
</style>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user_ID) {%>

      <h3 class="Email">Logged in as: <%=user_ID.email %></h3>
      <a><form method="POST" action="/logout" name="username">
        <button type="submit"  class="logout">Logout</button></form></a>
      <% } else { %>
        <a><form method="GET" action="/login" name="username">
        <button type="submit"  class="login">Login</button></form></a>
        <a><form method="GET" action="/register" name="username">
          <button type="submit"  class="register">Register</button></form></a>
          <% } %>
  </nav>
</header>